* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(black, rgb(27, 0, 0), black);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 0 0 10px black, 0 0 20px orangered, 0 0 30px violet;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    padding: 2%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav {
    color: red;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
    width: 40%;
}

main {
    padding: 2% 5%;
}

.games {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    column-gap: 2%;
    width: 100%;
    height: 120px;
}

.games div {
    width: 120px;
    border-radius: 50%;
    border: 3px solid red;
    box-shadow: 0 0 10px red, 0 0 30px red;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

h1 {
    color: white;
    letter-spacing: 5px;
}

h2 {
    font-size: 2.6em;
    margin: 2%;
    color: white;
    letter-spacing: 3px;
}

#profiles {
    margin-top: 50px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.perfil {
    color: white;
    border: 2px solid white;
    letter-spacing: 1px;
    border-radius: 20px;
    font-size: .9em;
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}